#https://vsupalov.com/docker-arg-env-variable-guide/
#https://medium.com/vteam/configure-docker-project-for-different-environments-using-docker-compose-3-bfbef37d951c
#https://medium.com/softonic-eng/docker-compose-from-development-to-production-88000124a57c
#https://stackoverflow.com/a/48651071
#https://github.com/docker/compose/issues/6170
#https://medium.com/faun/set-current-host-user-for-docker-container-4e521cef9ffc

# production, staging, develop, etc.
ENV=develop

FTP_NAME=pure-ftpd
FTP_TAG=latest
# IP/Host setting for PASV support
PUBLICHOST=localhost
ADDED_FLAGS="--tls=2"
FTP_USER_NAME=changeme
FTP_USER_PASS=changeme
FTP_USER_HOME=/changeme
FTP_USER_UID=
FTP_USER_GID=
FTP_PASSIVE_PORTS=30000:30009
FTP_MAX_CLIENTS=
FTP_MAX_CONNECTIONS=

